body{
	/*background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/
background-image: url(typing.png);
}
.time{
	font-size: 25px;
	color: white;
	font-style: bold;
}
.para{
	font-size: 22px;
	/*color: white;*/
	font-style: bold;
	text-align: center;	
}
/*h1{
	color: white;
}*/